<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% pageName = "Home" %>
    <%- include('../partials/header') %>
  </head>
  <body>
    <div class="container mt-5">
      <div class="box border border-vrr shadow rounded">
        <h1 class="title text-center">About the Layout</h1>
        <hr>
        <p>Construction of the layout began in early 2010, it is in O-Scale and primary comprised of MTH rolling stock. The entire layout is powered by an MTH Z4000 Transformer and uses MTH's Digital Command Control (DCS) to control the engines.</p>
        <p>Extensions were made to the train table in 2014, 2015 and 2020. Currently the layout features a function yard, two main lines, an elevated loop accessible by one of the two main lines, and a conventional powered inner loop and lower loop.</p>
        <p>The layout uses Lionel's Fast Track (Upper Level) and MTH's Real Track (Lower level), the primary track used is Lionel Fast Track.</p>
      </div>
    </div>
  </body>
  <%- include('../partials/footer') %>
</html>
